img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}

.infinite-scroll .woocommerce-pagination {
	display: none;
}

#yith-quick-view-modal .yith-wcqv-main{background:#ffffff;}
#yith-quick-view-close{color:#cdcdcd;}
#yith-quick-view-close:hover{color:#ff0000;}

.variable-item:not(.radio-variable-item) {
    width  : 30px;
    height : 30px;
}

.woo-variation-swatches-style-squared .button-variable-item {
    min-width : 30px;
}

.button-variable-item span {
    font-size : 16px;
}

.main_menu_category_menu,
.main-menu .main-menu-links ul li,
.menu-category ul,
.menu-category ul ul,
.rightheaderwrap #submit-button,
.top-cart-content .block-subtitle,

.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button,
.woocommerce a.added_to_cart:before, 
.woocommerce a.button.add_to_cart_button:before, 
.woocommerce a.button.product_type_grouped:before, 
.woocommerce a.button.product_type_external:before, 
.woocommerce a.button.product_type_variable:before,

.woocommerce a.button.add_to_cart_button:hover, 
li.product a.added_to_cart:hover, 
.woocommerce #respond input#submit:hover, 
.woocommerce button.button:hover, 
.woocommerce .widget-area a.clear-all:hover, 
.woocommerce input.button:hover, 
.woocommerce a.button.product_type_grouped:hover, 
.woocommerce a.button.product_type_external:hover, 
.woocommerce a.button.product_type_variable:hover,
.categoryarea ul.categoryslider li .categorycount,
.woocommerce nav.woocommerce-pagination ul li a:focus, 
.woocommerce nav.woocommerce-pagination ul li a:hover, 
.woocommerce nav.woocommerce-pagination ul li span.current,
.widget_shopping_cart_content .buttons a.wc-forward:before,

.woocommerce .widget_shopping_cart .cart_list li a.remove:hover, 
.woocommerce.widget_shopping_cart .cart_list li a.remove:hover,

.woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active a, 
.woocommerce-account .woocommerce-MyAccount-navigation ul li:hover a,
.woocommerce-account .woocommerce-MyAccount-navigation ul li a,
.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt,

.quantity button, 
.quantity input[type='button'], 
.quantity input[type='reset'], 
.quantity input[type='submit'],


.main-menu .main-menu-links ul > li.menu-item-has-children:hover ul,

.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,

.blocktitlewrap .SparkleStoreAction>div,
.box-hover .add-to-links li a:after,
.fullpromowrap .fullwrap button, 
.categorproducts .block-title-desc .view-bnt,
ul.sparkletablinks > li a,
.sparklestore-blogwrap .bloginner .blogmeta,
.calendar_wrap caption,
.widget_product_search a.button, 
.widget_product_search button, 
.widget_product_search input[type='submit'], 
.widget_search .search-submit,
.scrollup,
.sparklestore-blogwrap li:hover .blogmeta,
.nav-previous a, .nav-next a,
.sparklestore-slider a.sparklestore-button:hover,
.blog-readmore a,
.pagination span.current, .pagination a:hover,
.wishlist_table td.product-name a.button:hover{ 

    background-color: #033772

}

.gridlist-toggle a,
.gridlist-toggle a.active, 
.gridlist-toggle a:hover, 
.gridlist-toggle a:focus,
.form-submit input, .return-to-shop a, 
.yith-woocompare-widget .compare, 
.yith-woocompare-widget .clear-all, 
.woocommerce #review_form #respond .form-submit input, 
.single-product .single_add_to_cart_button,
.woocommerce div.product .woocommerce-tabs ul.tabs li:hover, 
.woocommerce div.product .woocommerce-tabs ul.tabs li.active{ 

   background-color: #033772 !important;

}

.site-branding,
.topheader .quickinfowrap .quickinfo li:hover, 
.topheader .quickinfowrap .quickinfo li:hover a, 
.topheader .toplinkswrap .toplinks ul li:hover, 
.topheader .toplinkswrap .toplinks ul li:hover a,
.entry-title a:hover,
ul.list-info li a:hover, .blog-readmore:hover,
.post-detail-container .blog-readmore a:hover,

a:hover,
.item-title a:hover,

.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, .woocommerce button.button:hover, 
.woocommerce input.button:hover,

.quantity button:hover, 
.quantity input[type='button']:hover, 
.quantity input[type='reset']:hover, 
.quantity input[type='submit']:hover,

.footer-middle .widget a:hover, 
.footer-middle .widget a:hover::before, 
.footer-middle .widget li:hover::before,
.footer-bottom a:hover,

.widget a:hover, .widget a:hover::before, .widget li:hover::before,
.wishlist_table td.product-name a.button,

.product_meta span a:hover,

.woocommerce-message:before,
.woocommerce-info:before,

.email-icon:before,

.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover,

.woocommerce ul.cart_list li a:hover, .woocommerce ul.product_list_widget li a:hover,

.wishlist .top-wishlist a i.fa, .view-cart .cart-contents .header-icon i{ 

    color: #033772;

}

.form-submit input:hover,
.woocommerce #review_form #respond .form-submit input:hover, 
.single-product .single_add_to_cart_button:hover,
.yith-woocompare-widget .clear-all:hover, 
.yith-woocompare-widget .compare:hover,
single-product .yith-wcwl-add-to-wishlist .yith-wcwl-add-button a.add_to_wishlist:hover,

.single-product .yith-wcwl-wishlistexistsbrowse.show a:hover, .single-product .entry-summary .compare.button:hover, .single-product .yith-wcwl-add-to-wishlist a.add_to_wishlist:hover{ 

   color: #033772 !important;

}

.top-cart-content .widget,
.blog-readmore a,
.post-detail-container .blog-readmore a:hover,
.pagination span.current, .pagination a:hover,
.pagination span.current, .pagination a,
.fullpromowrap .fullwrap button, .categorproducts .block-title-desc .view-bnt,

.woocommerce div.product .woocommerce-tabs ul.tabs:before,
.woocommerce-cart .cart_totals h2, 
.woocommerce .cart-collaterals .cross-sells h2, 
.woocommerce-page .cart-collaterals .cross-sells h2, 
.related.products h2, .up-sells.upsells.products h2, 
.woocommerce-account #customer_login .col-1 h2, 
.woocommerce-account #customer_login .col-2 h2, 
.woocommerce-order-details h2, .woocommerce-customer-details h2,


.woocommerce a.button.add_to_cart_button, 
.woocommerce a.added_to_cart, 
.woocommerce a.button.product_type_grouped, 
.woocommerce a.button.product_type_external, 
.woocommerce a.button.product_type_variable,

.quantity button:hover, 
.quantity input[type='button']:hover, 
.quantity input[type='reset']:hover, 
.quantity input[type='submit']:hover,

.email-icon:before,

.woocommerce nav.woocommerce-pagination ul li,

.wishlist_table td.product-name a.button,
.woocommerce-message,
.woocommerce-info,

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,

.woocommerce-billing-fields h3, .woocommerce-shipping-fields h3, h3#order_review_heading, .woocommerce-additional-fields h3, .woocommerce-Address-title h3,

.woocommerce #respond input#submit,     
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button, 
.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, .woocommerce button.button:hover, 
.woocommerce input.button:hover,
.widget-area .widget .widget-title,
.flex-control-nav > li > a:hover, .flex-control-nav > li > a.flex-active{ 

border-color: #033772

}

.form-submit input, .return-to-shop a, 
.yith-woocompare-widget .compare, 
.yith-woocompare-widget .clear-all, 
.woocommerce #review_form #respond .form-submit input, 
.single-product .single_add_to_cart_button,
.footer-middle .widget .widget-title{ 

   border-color: #033772 !important;

}

.wishlist .top-wishlist a .count, .view-cart .cart-contents .header-icon .count,
.woocommerce span.onsale, .new-label,
.blocktitlewrap .SparkleStoreAction>div:hover:before,
.box-hover .add-to-links li a:hover, .box-hover .add-to-links li a:hover:after,
ul.sparkletablinks > li a:hover, ul.sparkletablinks > li.active a{ 

   background-color: #cd1b29;

}

.woocommerce span.onsale:after, .new-label:after{ 

    border-color: #cd1b29 transparent transparent;

}

.footer-middle .widget h4.widget-title:before{ 

    border-color: #cd1b29;

}

@media (max-width: 768px){ .main-menu .main-menu-links .menu>li.menu-item-has-children li, .main-menu .main-menu-links .menu>li.menu-item-has-children li { 

background-color:#033772;
} 
}


